{% extends 'admin_templates/base.html' %}
{% load static %}
{% block page_title %}Manage Course{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card card-secondary">
              <!--card header-->
              <div class="card-header">
                <center><h3 class="card-title">Course's Details</h3></center>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;height: 150;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <!--card body-->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Course Name</th>
                      <th>Edit</th>
                      <th>Remove</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                    <tr>
                      <td>{{course.id}}</td>
                      <td>{{course.course_name}}</td>
                      <td><a href="editcourse/{{course.id}}" class="btn btn-secondary">Edit</a></td>
                      <td><a href="#" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="card-footer">
                  <button type="submit" class="btn btn-secondary btn-block"></button>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
<!-- /.content -->
{% endblock main_content %}