{% extends 'admin_templates/base.html' %}
{% load static %}
{% block page_title %}Add Subject{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Add Subject</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/addsubjectsave" method="POST">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label>Subject Name</label>
                  <input type="text" class="form-control" name="subject_name" placeholder="Enter Subject Name">
                </div>
                <div class="form-group">
                  <label>Course</label>
                  <select class="form-control" name="course">
                    {% for course in courses %}
                      <option value="{{course.id}}">{{course.course_name}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="form-grou">
                  <label>Subject Teacher</label>
                  <select class="form-control" name="staff">
                    {% for staff in staffs %}
                      <option value="{{staff.id}}">{{staff.username}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="form-group">
                  {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == "success" %}
                        <div class="alert alert-success" style="margin-top: 10px;"> {{ message }} </div>
                      {% endif %}
                      {% if message.tags == "error" %}
                        <div class="alert alert-danger" style="margin-top: 10px;"> {{ message }} </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<!-- /.content -->
{% endblock main_content %}