{% extends 'admin_templates/base.html' %}
{% load static %}
{% block page_title %}Add Session Year{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Add Session Year</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/addsessionsave" method="POST">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label>Session Start Year</label>
                  <input type="date" class="form-control" name="session_start_year" placeholder="Enter Session Start Year">
                </div>
                <div class="form-group">
                  <label>Session End Year</label>
                  <input type="date" class="form-control" name="session_end_year" placeholder="Enter Session End Year">
                </div>
                <div class="form-group">
                  {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == "success" %}
                        <div class="alert alert-success" style="margin-top: 10px;"> {{ message }} </div>
                      {% endif %}
                      {% if message.tags == "error" %}
                        <div class="alert alert-danger" style="margin-top: 10px;"> {{ message }} </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-dark btn-block">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<!-- /.content -->
{% endblock main_content %}